---
layout: compress
---
<!DOCTYPE html>
<html>
    <head>
        {% include init_params.html %}
    </head>

    <body>
        {% include banner.html %}

        <div class="container">
            <div class="col-sm-12 text-center">
                <div class="page-title"><p> Posts by category </p></div>
                {% if page.categories %}
                    <p class="text-primary" style="font-size:24px"><strong> - {{ page.categories}} - </strong></p>
                {% else if page.categories == '' %}
                    <p class="text-primary" style="font-size:24px"><strong> - {{ All }} - </strong></p>
                {% endif%}
            </div>

            <!-- display contents sorted by category. -->
            <div class="col-sm-10 col-sm-offset-1 main-layout">
                <hr />
                {% for category in site.categories %}
                    {% capture category_slug %}{{ category | first }}{% endcapture %}
                    {% for c_slug in category_slug %}
                        {% if c_slug == page.categories %}
                        <button class="btn btn-sm btn-default active">{{ c_slug }}</button>
                        {% else %}
                        <a href="/category/{{ c_slug }}" class="btn btn-sm btn-default">{{ c_slug }}</a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <hr />
                {% include sort_by_category.html %}
            </div>
        </div>
    </body>
    {% include footer.html %}
</html>
